.homeContainer {
    display: flex;
    /* flex-direction: column;
    height: 100vh;
    width: 100%; */
}


.homeContainer > div:nth-child(odd){
    flex:0.2;
}

.homeContainer > div:nth-child(even){
    flex:0.6;
}

.homeContainer__leftBar{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    align-items: start;
    
}


.sideBarOption{
    display: flex;  
    align-items: center;  
    font-size: 1.4rem; 
    gap:1.3rem;    
    width: 80%;
    min-width:100px;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transform: all 0.8m s;
}

.sideBarOption:hover{
    transform : scale(1.01);
}

.sideBarOption > svg {
    height: 1.4em;
    min-width: fit-content;
}